.footer {
    display: flex;
    flex: 1;
    padding: var(--spacing-1) 0;
    border-top: 1px solid var(--border-color);
    justify-content: center;
    align-items: center;
}

.footer a {
    display: flex;
    padding-left: var(--spacing-1);
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}
