:root {
    --foreground: #000;
    --background: #fff;
}

@media (prefers-color-scheme: light) {
    :root {
        --foreground: #000;
        --background: #fff;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground: #fff;
        --background: #000;
    }
}
